__pycache__/
dev/
venv/
.env
.DS_Store


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Docker Compose
compose.yaml

# Miscellaneous
NOTES.md